/ .notification
/   - if flash.any?
/     .flash-message
/       %p.flash-message__notice= notice
/       %p.flash-message__alert= alert

.chat-side
  = render partial: 'layouts/chatside'

.main-site
  .main-site__header
    .main-site__header--info
      .group
      = @group.name
      %p members:ccc,sss,zzz
    .main-site__header--btn
      %a
      = link_to "Edit", edit_group_path(current_user)
  .main-site__body--message
    - current_user.messages.each do |user|
      .main-site__body--messages
        .message__box
          .message__box--inner
            .message__name
              = current_user.name
            .message__date
              = user.created_at
          .main-site__body--messagesbottom
            .message__text
              = user.body

  .bottoms
    = form_for [@group, @message], url: group_messages_path do |f|
      = f.text_field :body, placeholder: "type a message", class: "textarea"
      = f.submit "Send", class: "submit"


