/ .notification
/   - if flash.any?
/     .flash-message
/       %p.flash-message__notice= notice
/       %p.flash-message__alert= alert

.chat-side
  = render partial: 'layouts/chatside'

.main-site
  .main-site__header
    .main-site__header--info
      .group
      = @group.name
      .memberlist
        %ul
          %li Members joining:
          - @group.group_users.each do |member|
            %li= member.user.name
    .main-site__header--btn
      %a
      = link_to "Edit", edit_group_path(current_user)
  .main-site__body--message
    - @group.messages.each do |message|
      .main-site__body--messages
        .message__box
          .message__box--inner
            .message__name
              = message.user.name
            .message__date
              = message.created_at
          .main-site__body--messagesbottom
            - if message.image.present?
              .message.image
                = image_tag(message.image)
            .message__text
              = message.body

  .bottoms
    = form_for [@group, @message], url: group_messages_path do |f|
      .textfield
      = f.text_field :body, placeholder: "type a message", class: "textarea"
      .imageicon
        = f.label :image do
          %i.fa.fa-picture-o
          = f.file_field :image, class: "file_image"
      = f.submit "Send", class: "submit"

