.chat-side
  .chat-side__user
    .chat-side__user--name
      = link_to current_user.name, root_path
    .chat-side__user--btn1
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
    .chat-side__user--btn2
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
  .chat-side__groups
    .chat-side__groups-list
    - current_user.groups.each do |group|
      .chat-side__groups-name
        = link_to group.name, group_messages_path(group.id)
      .chat-side__groups-message
        = link_to group.messages.last.body, group_messages_path(group.id)if group.messages.present?
